<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
      <ion-title>
        <div class="cherry-logo">
          <ion-img id="cherry-icon" src="assets/icon/cherry.png"></ion-img>
          <ion-label class="cherry-label">C H E R R Y</ion-label>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="calendar-container">
    <div class="sync-message">
      <p>Sync you tracker app</p>
    </div>
    <ion-button>Sync</ion-button>
    <ion-label class="or">or</ion-label>
    <div class="select-message">
      <p>Select the day you wish to input your information</p>
    </div>
    <ion-label class="start-date">S T A R T&nbsp;&nbsp;&nbsp;&nbsp;D A T E</ion-label>
    <ion-datetime presentation="date" [showDefaultButtons]="true"></ion-datetime>
  </div>
  
</ion-content>
