<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-icon name="menu-outline" class="menu-icon" (click)="sideBarAppear(true)"></ion-icon>
      <ion-title>
        <div class="cherry-logo">
          <ion-img id="cherry-icon" src="assets/icon/cherry.png"></ion-img>
          <ion-label class="cherry-label">C H E R R Y</ion-label>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<div id="more-options-backdrop" style="display: none"></div>
<div id="side-bar" style="display: none">
  <br><br><ion-label class="options-text" id="profile" (click)="navigateToProfile()">Profile</ion-label><br>
  <ion-label class="options-text" id="sync">Sync</ion-label><br>
  <ion-label class="options-text" id="settings">Settings</ion-label><br>
  <ion-label class="options-text" id="help">Help</ion-label><br>
  <ion-label class="options-text" id="logout" (click)="navigateToLogin()">Logout</ion-label>
</div>

<ion-content>
  <div id="calendar-container">
    <div class="sync-message">
      <p>Sync your tracker app</p>
    </div>
    <ion-button>Sync</ion-button>
    <ion-label class="or">or</ion-label>
    <div class="select-message">
      <p>Please select the day you had your last period!</p>
    </div>
    <ion-label class="start-date">S T A R T&nbsp;&nbsp;&nbsp;&nbsp;D A T E</ion-label>
    <ion-datetime 
      presentation="date"
      doneText="Confirm" 
      [showDefaultButtons]="true" 
      (ionChange)="sectionChange(1)">
    </ion-datetime>
  </div>

  <div id="main-symptoms-container" style="display: none;">
    <div class="symptoms-message">
      <ion-label class="symptoms-text">Select your symptoms with the available choices</ion-label>
      <ion-label class="learn-more">learn more below</ion-label>
    </div>

    <div id="symptoms-container">
      <div class="symptoms-options">
        <div class="heading">
          <h1>Period</h1>
          <div class="circle">i</div>
        </div>
        <div id="period">
          <div *ngFor="let item of periodItems" class="item" (click)="selectItem('period', item)" [class.selected]="selectedItems['period'] === item">
            <img [src]="item.img" alt="{{ item.name }}" class="item-image">
            <span>{{ item.name }}</span>
          </div>
        </div>
        <div class="heading">
          <h1>Pain</h1>
          <div class="circle">i</div>
        </div>
        <div id="pain">
          <div *ngFor="let item of painItems" class="item" (click)="selectItem('pain', item)" [class.selected]="selectedItems['pain'] === item">
            <img [src]="item.img" alt="{{ item.name }}" class="item-image">
            <span>{{ item.name }}</span>
          </div>
        </div>
        <div class="heading">
          <h1>Mood</h1>
          <div class="circle">i</div>
        </div>
          <div id="mood">
            <div *ngFor="let item of moodItems" class="item" (click)="selectItem('mood', item)" [class.selected]="selectedItems['mood'] === item">
              <img [src]="item.img" alt="{{ item.name }}" class="item-image">
              <span>{{ item.name }}</span>
            </div>
          </div>
        <div class="heading">
          <h1>Exercise</h1>
          <div class="circle">i</div>
        </div>
          <div id="exercise">
            <div *ngFor="let item of exerciseItems" class="item" (click)="selectItem('exercise', item)" [class.selected]="selectedItems['exercise'] === item">
              <img [src]="item.img" alt="{{ item.name }}" class="item-image">
              <span>{{ item.name }}</span>
            </div>
          </div>
        <div class="heading">
          <h1>Diet</h1>
          <div class="circle">i</div>
        </div>
          <div id="diet">
            <div *ngFor="let item of dietItems" class="item" (click)="selectItem('diet', item)" [class.selected]="selectedItems['diet'] === item">
              <img [src]="item.img" alt="{{ item.name }}" class="item-image">
              <span>{{ item.name }}</span>
            </div>
          </div>
        <div class="heading">
          <h1>Energy</h1>
          <div class="circle">i</div>
        </div>
          <div id="energy">
            <div *ngFor="let item of energyItems" class="item" (click)="selectItem('energy', item)" [class.selected]="selectedItems['energy'] === item">
              <img [src]="item.img" alt="{{ item.name }}" class="item-image">
              <span>{{ item.name }}</span>
            </div>
          </div>
      </div>
    </div>

    <div class="buttons">
      <ion-button id="back" (click)="sectionChange(2)" >Back</ion-button>
      <ion-button id="Done">Done</ion-button>
      <ion-alert trigger="Done" class="custom-alert" header="Are you sure?" [buttons]="alertButtons"></ion-alert> <!--(click)="navigateToHome()"-->
    </div>
  </div>
  
</ion-content>