<head>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
      <ion-title>
        <div class="cherry-logo">
          <ion-img id="cherry-icon" src="assets/icon/cherry.png"></ion-img>
          <ion-label>C H E R R Y</ion-label>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>
