ion-label {
    font-family: 'Cherry Bomb';
    color: #84012A;
    font-size: 28px;
}

.cherry-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
