.menu-icon {
    display: flex;
    color: #0E103D;
    font-size: 50px;
    margin-right: 330px;
  }
  
  ion-label {
    font-family: 'Inter';
    color: #0E103D;
    font-size: 18px;
  }
  
  .cherry-label {
    font-family: 'Cherry Bomb';
    color: #84012A;
    font-size: 30px;
  }
  
  .cherry-logo, ion-toolbar, .header-content, .main-container, .date-container,
  .donut-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  #cherry-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  ion-toolbar {
    padding: 0;
    min-height: 80px;
    --background: #D3EDF9;
    border-bottom: 1px solid #959EC9;
  }
  
  ion-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 90px;
  }
  
  .main-container {
    flex-direction: column;
    height: 100%;
  }

  .key-container, .date-container, .donut-chart-container {
    width: 93%;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .key-container {
    height: 23%;
    border-radius: 10px;
    background-color: #FFFEEA;
  }
  
  .cycle-types {
    padding-top: 3%;
    width: 95%;
    margin-left: 3%;
  }
  
  ion-row {
    display: block;
  }
  
  ion-col {
    display: inline-block;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }
  
  ion-row:first-of-type ion-col:nth-of-type(3) {
    text-align: right;
}

  .key-text {
    font-size: 25px;
    color: #282749;
  }

  .menstruation-color, .ovulation-color, .follicular-color, .luteal-color {
    width: 60px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }
  
  .menstruation-color {
    background-color: #84012A;
  }
  
  .ovulation-color {
    background-color: #4F5172;
  }
  
  .follicular-color {
    background-color: #989FC7;
  }
  
  .luteal-color {
    background-color: #282749;
  }
  
  .date-container {
    height: 10%;
    background-color: #282749;
  }

  .current-date {
    font-family: 'Cherry Bomb';
    font-size: 40px;
    color: #F5F5F5;
  }

  .donut-chart-container {
    height: 66%;
    background-color: #F5F5F5;
    flex-direction: column;
  }

  .announce-text {
    color: #0E103D;
    font-size: 20px;
    margin-bottom: -10px;
  }

  .phase-name {
    color: #84012A;
    font-size: 25px;
    margin-top: -5px;
  }
