<head>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
      <ion-title>
        <div class="cherry-logo">
          <ion-img id="cherry-icon" src="assets/icon/cherry.png"></ion-img>
          <ion-label class="cherry-label">C H E R R Y</ion-label>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="message-box">
    <ion-label class="message-info">Name, you are currently in your</ion-label> 
    <ion-label class="phase">{{ phaseName }} Phase!</ion-label>
    <ion-label class="learn-more">learn more below</ion-label>
  </div>

  <div class="information-container">
    <div class="mood-container">
      <ion-label class="Mood">M o o d</ion-label>
      <ion-label class="mood-text">{{ phaseMood }}</ion-label>
    </div>
    <div class="exercise-container">
      <ion-label class="Exercise">E x e r c i s e</ion-label>
      <ion-label class="exercise-text">{{ phaseExercise }}</ion-label>
    </div>
    <div class="diet-container">
      <ion-label class="Diet">D i e t</ion-label>
      <ion-label class="diet-text">{{ phaseDiet }}</ion-label>
    </div>
    <div class="energy-container">
      <ion-label class="Energy">E n e r g y</ion-label>
      <ion-label class="energy-text">{{ phaseEnergy }}</ion-label>
    </div>
  </div>
</ion-content>
