<head>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
      <ion-title>
        <div class="cherry-logo">
          <ion-img id="cherry-icon" src="assets/icon/cherry.png"></ion-img>
          <ion-label class="cherry-label">C H E R R Y</ion-label>
        </div>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="message-box">
    <ion-label class="message-info">Name, you are currently in your</ion-label> 
    <ion-label class="phase">{{ phaseName }} Phase!</ion-label>
    <ion-label class="learn-more">learn more below</ion-label>
  </div>

  <div class="information-container">
    <div class="mood-container">
      <ion-label class="Mood">Mood</ion-label>
      <ion-label class="mood-text">It's common to feel more sensitive or irritable during this time. Engaging in stress-reducing activities like meditation can help manage mood fluctuations.</ion-label>
    </div>
    <div class="exercise-container">
      <ion-label class="Exercise">Exercise</ion-label>
      <ion-label class="exercise-text">Some individuals may feel fatigued during their menstrual phase, others may find exercise beneficial for managing symptoms like cramps and bloating.</ion-label>
    </div>
    <div class="diet-container">
      <ion-label class="Diet">Diet</ion-label>
      <ion-label class="diet-text">Foods rich in antioxidants, such as berries, dark chocolate, nuts, and colorful fruits and vegetables, can be incorporated into your diet to support overall health and well-being during menstruation.</ion-label>
    </div>
    <div class="energy-container">
      <ion-label class="Energy">Energy</ion-label>
      <ion-label class="energy-text">Hormonal fluctuations during the menstrual phase can impact energy levels, leading to feelings of fatigue or lethargy. Gentle activities like stretching or short walks can also boost energy without adding additional strain. The best exercise during your period is one that feels good to you!</ion-label>
    </div>
  </div>
</ion-content>
