ion-list {
    ion-item {
      font-size: 16px;
      padding: 12px;
      color: #333;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      
      &:last-child {
        border-bottom: none;
      }
  
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
  